<!DOCTYPE html>
<html>
<head>
  <title>Mobile Portal Architect</title>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

 
<style type="text/css">
  <% if is_preview? %>
    <%= @layout.content %>
  <% end %>
</style> 
  
</head>
<body>
	<div id="header">
	</div>
	
	<%= render 'layouts/header' %>
	
	
	  <%= yield %>
	
</body>
</html>
