<!DOCTYPE html>
<html>
<head>
  <title>Genwapsite</title>
  <!--<%= stylesheet_link_tag :all %> -->
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="header">
		<%= render 'layouts/header' %>
	</div>
	<div id="main">
		<%= yield %>
	</div>

</body>
</html>
